* {
    margin: 0px;
    padding: 0px;
}

body {
    font: medium/1.5em "微软雅黑", sans-serif;
    background: #fff;
    min-width: 700px;
}

#page {
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    border: 1px solid #999;
    min-height: 422px;
}

#teamname {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #999;
    width: 160px;
    overflow: auto;
    position: absolute;
    top: 41px;
    left: 41px;
}

#teamname img {
    margin-right: 20px;
    border: 1px dashed #333;
    float: left;
}

#teammates {
    background-color: #fff;
    border: 1px solid #999;
    width: 120px;
    padding: 10px 0px;
    overflow: auto;
    float: right;  
}

#teammates img {
    display: block;
    float: left;
    margin: 10px 20px;
}

#main {
    background-color: #fff;
    border: 1px solid #999;
    padding: 20px;
    margin: 0px 140px 0px 220px;
}

